/* Fundo principal da aplicação */
.root {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #050505 0%,
        #070707 30%,
        #090909 50%,
        #101010 70%,
        #202020 100%
    );
}

/* Título */
.title {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Subtítulo */
.subtitle {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

/* Textos */
.label-text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.debug-msg {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/* Caixa de Texto */
.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: #888888;
    -fx-background-color: #303030;
    -fx-background-radius: 8;
}

/* Menu Dropdown */
.combo-box {
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.combo-box:hover {
    -fx-background-color: #505050;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #303030;
    -fx-background-radius: 8;
}

/* Menu Dropdown Pop */
.combo-box-popup .list-view {
    -fx-background-color: #303030;
    -fx-background-radius: 8;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #303030;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: linear-gradient(
        from 0% 75% to 100% 0%,
        #303030 0%,
        #9c9c9c 100%
    );
}

/* Botões */

.button {
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;          
    -fx-background-radius: 8;        
}

.button:hover {
    -fx-background-color: linear-gradient(
        from 0% 100% to 100% 0%,
        #505050 0%,
        #9c9c9c 100%
    );
}

.progress-bar .bar{
    -fx-background-color: #09ff00;
    -fx-background-radius: 8;
}

.progress-bar .track {
    -fx-background-color: #303030;
    -fx-background-radius: 8;
}

.glass-placeholder {
    -fx-background-color: rgba(255, 255, 255, 0.03); /* Fundo branco extremamente translúcido */
    -fx-background-radius: 12;
    -fx-border-color: rgba(255, 255, 255, 0.15); /* Cor da borda suave */
    -fx-border-style: dashed; /* Torna a borda pontilhada/tracejada */
    -fx-border-width: 1.5;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 4); /* Sombra para dar profundidade */
}

.title-placeholder {
    -fx-fill: #202020;
    -fx-arc-width: 8;
    -fx-arc-height: 8;
}

.video-info {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 4);
}